<% content_for :title, "Panel Administracyjny" %>
<% content_for :menu, "admin" %>
<br>
<div class="container-fluid" align="center">
  <h1 class=page-header>Panel Administracyjny</h1>
  <div align="center">
    <%= link_to 'Zarządzanie Użytkownikami', admin_users_path, class:'btn btn-danger' %>
  </div><br>
  <div align="center">
    <%= link_to "Zaimportuj dane z IMGW", measurement_direct_import_path(1), class:'btn btn-success'%>
  </div>
</div>
<br>
