<% content_for :title, "Panel Administracyjny" %>
<% content_for :menu, "admin" %>
<br>
<div class="container">
  <h1 class=page-header>Panel Administracyjny</h1>
  <div align="center">
    <%= link_to 'Użytkownicy', admin_users_path, class:'btn btn-danger' %>
  </div>
</div>
<br>
