<% content_for :title, "O systemie" %>

<div class="container" align="center">
  <h1 class=page-header>Synoptyk – szybki serwis meteorologiczny</h1>
  <p class=lead>Rejestr danych ze stacji pogodowych polskiego IMGW oraz prognoz Norweskiego yr.no.</p>
  <p class=lead><i>&copy; Kamil Pek. Wersja 2.0.4 z dnia 13.09.2017.</i></p>
</div>
