<% content_for :title, "O systemie" %>

<div class="container" align="center">
  <h1 class=page-header>Synoptyk – mapki meteorologiczne</h1>
  <p class=lead><i>&copy; Kamil Pek. Wersja 1.1.1 z dnia 17.08.2017.</i></p>
</div>
