<% content_for :title, "Model ALADIN" %>

<div class="container-fluid" align="center">
  <iframe src="http://www.shmu.sk/sk/?page=1&id=meteo_num_europa" width="950" height="1200" frameborder="0" scrolling="no"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: monitor.pogodynka.pl", "http://monitor.pogodynka.pl/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
