<% content_for :title, "GFS + ICON" %>

<div class="container-fluid" allign="center">
  <iframe src="https://www2.meteo.uni-bonn.de/forschung/gruppen/gfsmaptool/vorhersage_slide.php" width="1350" height="950" frameborder="0" scrolling="yes"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: meteo.uni-bonn.de", "https://www2.meteo.uni-bonn.de/forschung/gruppen/gfsmaptool/vorhersage_slide.php", class:"btn btn-sm btn-outline-primary" %></p>
</div>
