<% content_for :title, "Dane DWD" %>

<div class="container-fluid" align="center">
  <h5>Analiza synoptyczna: EUROPA DWD JETPLAN</h5><hr>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/00_DWD_Analyse.gif"><img src="http://www1.wetter3.de/Fax/00_DWD_Analyse.gif" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/06_DWD_Analyse.gif"><img src="http://www1.wetter3.de/Fax/06_DWD_Analyse.gif" class="full-img"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/12_DWD_Analyse.gif"><img src="http://www1.wetter3.de/Fax/12_DWD_Analyse.gif" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/18_DWD_Analyse.gif"><img src="http://www1.wetter3.de/Fax/18_DWD_Analyse.gif" class="full-img"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="https://www.jetplan.com/weather/data/maps/animation/eusfcwx00.gif_prev_3"><img src="https://www.jetplan.com/weather/data/maps/animation/eusfcwx00.gif_prev_3" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="https://www.jetplan.com/weather/data/maps/eusfcwx00.gif"><img src="https://www.jetplan.com/weather/data/maps/eusfcwx00.gif" class="full-img"></a>
    </div>
  </div>
  <br>

  <h5>Prognoza HT850-HT_700hPa 00Z</h5><hr>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/00_DWD_850-700hPa.gif"><img src="http://www1.wetter3.de/Fax/00_DWD_850-700hPa.gif" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/00_DWD_500-400hPa.gif"><img src="http://www1.wetter3.de/Fax/00_DWD_500-400hPa.gif" class="full-img"></a>
    </div>
  </div>
  <br>

  <h5>Prognoza HT500_HT400hPa 12Z</h5><hr>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/12_DWD_850-700hPa.gif"><img src="http://www1.wetter3.de/Fax/12_DWD_850-700hPa.gif" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="http://www1.wetter3.de/Fax/12_DWD_500-400hPa.gif"><img src="http://www1.wetter3.de/Fax/12_DWD_500-400hPa.gif" class="full-img"></a>
    </div>
  </div>
  <br>

  <h5>Prognoza baryczna</h5><hr>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_024.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_024.png" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_V36.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_V36.png" class="full-img"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_036.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_036.png" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_048.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_048.png" class="full-img"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_060.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_060.png" class="full-img"></a>
    </div>
    <div class="col-sm">
      <a href="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_084.png"><img src="https://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/ico_tkboden_na_084.png" class="full-img"></a>
    </div>
  </div>
  <hr>
  <p><%= link_to "Źródło danych: dwd.de", "https://www.dwd.de", class:"btn btn-sm btn-outline-primary" %></p>
</div>
