<% content_for :title, "ePORT" %>

<div class="container-fluid" align="center">
  <div class="wrapper">
    <iframe src="http://212.232.25.232/MapViewer.html" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
