<% content_for :title, "Estofex GFS" %>

<div class="container-fluid" allign="center">
  <iframe src="http://www.estofex.org/modelmaps/browse_gfs.php" width="1150" height="750" frameborder="0" scrolling="yes"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: estofex.org", "http://www.estofex.org/modelmaps/browse_gfs.php", class:"btn btn-sm btn-outline-primary" %></p>
</div>
