<% content_for :title, "Analiza satelitarna Eumetsat" %>

<div class="container-fluid" align="center">
  <h5>Analiza satelitarna Eumetsat</h5><hr>
  <a href="http://www.phix.cc/blog/noreg/data/obs/EuropeNA_MSG_SEV__IRHRVIIP_cur.JPG"><img src="http://www.phix.cc/blog/noreg/data/obs/EuropeNA_MSG_SEV__IRHRVIIP_cur.JPG"></a>
  <hr>
  <a href="http://www.phix.cc/blog/noreg/data/obs/sat_curr.jpg"><img src="http://www.phix.cc/blog/noreg/data/obs/sat_curr.jpg"></a>
  <hr>
  <a href="http://www.phix.cc/blog/noreg/data/obs/EuropeNA_MSG_SEV__WV_cur.JPG"><img src="http://www.phix.cc/blog/noreg/data/obs/EuropeNA_MSG_SEV__WV_cur.JPG"></a>
  <hr>
  <a href="http://www.phix.cc/blog/noreg/data/obs/Austria_MSG_RSS__HRVCERL_cur.JPG"><img src="http://www.phix.cc/blog/noreg/data/obs/Austria_MSG_RSS__HRVCERL_cur.JPG"></a>
  <hr>
  <h5>Obrazy satelitarne 1.VISIR-RTD 2.IR-LIGHTING 3.IR-FRONTAL</h5><hr>
  <a href="http://www.jetplan.com/weather/data/maps/eusatir00.gif"><img src="http://www.jetplan.com/weather/data/maps/eusatir00.gif"></a>
  <hr>
</div>
