<% content_for :title, "Mapa synoptyczna" %>

<div class="container-fluid" align="center">
  <h5>Mapa synoptyczna</h5><hr>
  <a href="http://pogodynka.pl/http/assets/products/aktualna_pogoda/ISOBAR2.JPG"><img src="http://pogodynka.pl/http/assets/products/aktualna_pogoda/ISOBAR2.JPG" class="half-img"></a>
  <hr>
  <a href="http://meteocentre.com/analysis/local/poland.gif"><img src="http://meteocentre.com/analysis/local/poland.gif" class="half-img"></a>
  <hr>
  <a href="http://meteocentre.com/analysis/local/eur.gif"><img src="http://meteocentre.com/analysis/local/eur.gif" class="half-img"></a>
  <hr>
  <p><%= link_to "Źródło danych: meteocentre.com", "http://meteocentre.com", class:"btn btn-sm btn-outline-primary" %></p>
</div>
