<% content_for :title, "Mapa prognoz" %>

<div class="container">

  <h4>
    Mapa prognoz
    <%= link_to "Mapa Pomiarów", root_path, class:"btn btn-sm btn-outline-primary" %>
  </h4><hr>

  <div style='height: 750px;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap_forecast" %>
  </div><hr>

  <p align="center">Prognoza z godziny: <%= @hour %>:00 CEST dnia <%= @date %>.</p>

</div>
