<% content_for :title, "Model GFS" %>

<div class="container-fluid" align="center">
  <h4>Modele numeryczne – Model Global Forecast System – Mapy</h4><hr>

  <% for i in 1..81 %>
    <% if i % 3 == 1 %>
      <div class="row" align="center">
        <div class="col-sm">
          <%= link_to (image_tag("https://meteomodel.pl/gfs-para/T2M/T2M_#{i.to_s.rjust(2, '0')}.png")), "https://meteomodel.pl/gfs-para/T2M/T2M_#{i.to_s.rjust(2, '0')}.png" %>
        </div>
        <div class="col-sm">
          <%= link_to (image_tag("https://meteomodel.pl/gfs-para/T2M/T2M_#{(i+1).to_s.rjust(2, '0')}.png")), "https://meteomodel.pl/gfs-para/T2M/T2M_#{(i+1).to_s.rjust(2, '0')}.png" %>
        </div>
        <div class="col-sm">
          <%= link_to (image_tag("https://meteomodel.pl/gfs-para/T2M/T2M_#{(i+2).to_s.rjust(2, '0')}.png")), "https://meteomodel.pl/gfs-para/T2M/T2M_#{(i+2).to_s.rjust(2, '0')}.png" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <hr></hr>
  <p><%= link_to "Źródło danych: meteomodel.pl", "https://meteomodel.pl/gfs-para/T2M/00/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
