<% content_for :title, "Mapa jakości powietrza" %>

<div class="container-fluid" align="center">
  <div style='height: 750px;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap_gios" %>
  </div><br>
  <p><%= link_to "Źródło danych: powietrze.gios.gov.pl", "http://powietrze.gios.gov.pl/pjp/current", class:"btn btn-sm btn-outline-primary" %></p>
</div>
