<% content_for :title, "Mapa pomiarów" %>

<div class="container">

<div class="page-header">
  <div class="pull-left">
    <h2>Mapa pomiarów</h2>
  </div>
  <div class="pull-right">
    <h3 class="text-right"><%= link_to "Mapa Prognoz", pages_forecast_path, class:"btn btn-success" %></h3>
  </div>
  <div class="clearfix"></div>
</div>

<div style='width: 800px;'>
  <div id="sidebar_builder" style='width: 1140px; height: 600px;'></div>
</div>

<br>
<p align="center">Data i godzina ostatniego pomiaru: <%= @date %>; <%= @hour %>:00 UTC.</p>

<%= render "multimap" %>

</div>
