<% content_for :title, "JSMSG" %>

<div class="container-fluid" allign="center">
  <iframe src="http://portal.chmi.cz/files/portal/docs/meteo/sat/data_jsmsgview.html" width="1500" height="1050" frameborder="0" scrolling="yes"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: chmi.cz", "http://portal.chmi.cz/files/portal/docs/meteo/sat/data_jsmsgview.html", class:"btn btn-sm btn-outline-primary" %></p>
</div>
