<% content_for :title, "Mapa METAR" %>

<div class="container-fluid" align="center">
  <div style='height: 750px;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap_metar" %>
  </div><br>
  <p><%= link_to "Źródło danych: ogimet.net", "http://ogimet.com/ultimos_synops2.php?estado=Pola&fmt=html&Enviar=Vet", class:"btn btn-sm btn-outline-primary" %></p>
</div>
