<% content_for :title, "Monitor IMGW" %>

<div class="container-fluid" align="center">
  <iframe src="http://monitor.pogodynka.pl/#map/18.2036,54.1739,8,true,true,0" width="950" height="700" frameborder="0" scrolling="yes"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: monitor.pogodynka.pl", "http://monitor.pogodynka.pl/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
