<% content_for :title, "Nowcasting" %>

<div class="container-fluid" align="center">
  <h5>Satelita Europa i Polska</h5><hr>
  <div class="row" align="center">
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/EU/visual/2/Central%20European%20Standard%20Time/7616576'></a>
    </div>
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/EU/infraPolair/2/Central%20European%20Standard%20Time/274348'></a>
    </div>
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/PL/visual/2/Central%20European%20Standard%20Time/6498968'></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/PL/infraPolair/2/Central%20European%20Standard%20Time/9676619'></a>
    </div>
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/PL/snow/2/Central%20European%20Standard%20Time/613284'></a>
    </div>
    <div class="col-sm">
      <a href='http://en.sat24.com/en' target='sat24'><image src='https://api.sat24.com/animated/EU/snow/2/Central%20European%20Standard%20Time/4806378'></a>
    </div>
  </div>
  <hr></hr>
  <p><%= link_to "Źródło danych: sat24.com", "https://sat24.com/", class:"btn btn-sm btn-outline-primary" %></p>
  <br>
  <h5>Eumetsat</h5><hr>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR039Color_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR039Color_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_IR108Color_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_VIS006Color_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_VIS006Color_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_WV062_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_WV062_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBAirmass_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBAirmass_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBDust_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBDust_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBFog_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBFog_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBMicrophysics_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBMicrophysics_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBNatColour_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBNatColour_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBSolarDay_CentralEurope.jpg' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_RGBSolarDay_CentralEurope.jpg'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_CentralEurope.png' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_MPE_CentralEurope.png'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_FIR_CentralEurope.png' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_FIR_CentralEurope.png'></a>
  <a href='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_AMV_CentralEurope.png' target='Eumetsat'><image src='http://oiswww.eumetsat.org/IPPS/html/latestImages/EUMETSAT_MSG_AMV_CentralEurope.png'></a>
  <hr></hr>
  <p><%= link_to "Źródło danych: eumetsat.int", "https://eumetsat.int/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
