<% content_for :title, "Petrobaltic IMGW" %>

<div class="container-fluid" align="center">
  <iframe src="http://lsop.imgw.pl/petrobaltic/" width="950" height="2100" frameborder="0" scrolling="no"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: lsop.imgw.pl", "http://lsop.imgw.pl/petrobaltic/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
