<% content_for :title, "Radary" %>

<div class="container-fluid" align="center" id="home_test">
  <div class="card text-center">

    <div class="card-body">
      <h5 class="card-title"><%= params[:key] %></h5>
      <div id="radars_indicators" class="carousel slide" data-ride="false">
        <ol class="carousel-indicators">
          <li data-target="radars_indicators" data-slide-to="0" class="active"></li>
          <% for id in 2..8 %>
            <li data-target="radars_indicators" data-slide-to="<%= id %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= link_to (image_tag @radar_0, class:"radar-img"), @radar_0, class:"d-block w-100", alt:"TOP_0" %>
          </div>
          <% @radars.each_with_index do |radar, index| %>
            <div class="carousel-item">
              <%= link_to (image_tag radar, class:"radar-img"), radar, class:"d-block w-100", alt:"TOP_#{index+1}" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#radars_indicators" role="button" data-slide="prev">
          <i class="fa fa-arrow-left carousel-arrows"></i>
          <span class="sr-only">Poprzedni</span>
        </a>
        <a class="carousel-control-next" href="#radars_indicators" role="button" data-slide="next">
          <i class="fa fa-arrow-right carousel-arrows"></i>
          <span class="sr-only">Następny</span>
        </a>
      </div>
    </div>
  </div>
</div>
