<% content_for :title, "Radiosondaże" %>

<div class="container-fluid" align="center">
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://meteocentre.com/radiosonde/images/12120_12.gif"><img src="http://meteocentre.com/radiosonde/images/12120_12.gif" border="0">
    </div>
    <div class="col-sm">
      </a> <a href="http://meteocentre.com/radiosonde/images/12120_00.gif"><img src="http://meteocentre.com/radiosonde/images/12120_00.gif" border="0"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://meteocentre.com/radiosonde/images/12374_12.gif"><img src="http://meteocentre.com/radiosonde/images/12374_12.gif" border="0"></a>
    </div>
    <div class="col-sm">
      <a href="http://meteocentre.com/radiosonde/images/12374_00.gif"><img src="http://meteocentre.com/radiosonde/images/12374_00.gif" border="0"></a>
    </div>
  </div>
  <br>
  <div class="row" align="center">
    <div class="col-sm">
      <a href="http://meteocentre.com/radiosonde/images/12425_12.gif"><img src="http://meteocentre.com/radiosonde/images/12425_12.gif" border="0"></a>
    </div>
    <div class="col-sm">
      <a href="http://meteocentre.com/radiosonde/images/12425_00.gif"><img src="http://meteocentre.com/radiosonde/images/12425_00.gif" border="0"></a>
    </div>
  </div>
  <hr>
  <p><%= link_to "Źródło danych: meteocentre.com", "http://meteocentre.com", class:"btn btn-sm btn-outline-primary" %></p>
</div>
