<% content_for :title, "RainViewer" %>

<div class="container-fluid" align="center">
  <iframe src="https://www.rainviewer.com/map.html?loc=54.169375,18.063166,8&oFa=0&oC=1&oU=1&oCUB=1&oCS=1&oF=1&oAP=0&rmt=0" width="100%" frameborder="0" style="border:0;height:75vh;" allowfullscreen></iframe>
  <hr>
  <p><%= link_to "Źródło danych: rainviewer.com/", "https://www.rainviewer.com/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
