<% content_for :title, "SAFIR – system detekcji wyładowań atmosferycznych" %>

<div class="container-fluid" align="center">
  <h4>System detekcji wyładowań atmosferycznych – SAFIR LTS2005</h4><hr>
  <img src="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_DIS.GIF" alt="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_DIS.GIF">
  <hr></hr>
  <img src="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_DENS.GIF" alt="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_DENS.GIF">
  <hr></hr>
  <img src="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_CELL.GIF" alt="http://www.pogodynka.pl/http/assets/products/aktualna_pogoda/PERUN_CELL.GIF">
  <hr></hr>
  <p><%= link_to "Źródło danych: pogodynka.pl", "http://www.pogodynka.pl/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
