<% content_for :title, "SatBałtyk" %>

<div class="container-fluid" align="center">
  <iframe src="http://satbaltyk.iopan.gda.pl/?layout=mobile#/state=%7B%22snapshotSourceId%22:474,%22timestamp%22:1535112000000,%22projectionId%22:3,%22backgroundId%22:1,%22colormap%22:%7B%22type%22:%22smooth%22,%22min_value%22:%220%22,%22max_value%22:%2224%22,%22min_color%22:%22RGBA:7609fbff%22,%22max_color%22:%22RGBA:840101ff%22,%22mid_colors%22:%220.1,RGBA:0000ffff,0.2,RGBA:0066ffff,0.25,RGBA:4080ffff,0.4,RGBA:40e0e5ff,0.5,RGBA:33ff00ff,0.6,RGBA:e1ff1cff,0.75,RGBA:ff8000ff,0.9,RGBA:ff0000ff%22,%22below_min_color%22:%22RGBA:7609fbff%22,%22above_max_color%22:%22RGBA:802000ff%22,%22no_color_values%22:%22-998,-999%22,%22interpolation%22:%22lin%22,%22color_model%22:%22hsb%22%7D,%22hasDynamicColorMap%22:false,%22hasZoom%22:true,%22hasScale%22:true,%22hasGraticule%22:false,%22viewport%22:%5B2948000.000494455,3368000,5587999.999504029,4775999.999471772%5D,%22showClouds%22:false,%22showPoints%22:false,%22enableDragging%22:true%7D" width="100%" frameborder="0" style="border:0;height:75vh;" allowfullscreen></iframe>
  <hr>
  <p><%= link_to "Źródło danych: satbaltyk.iopan.gda.pl", "http://satbaltyk.iopan.gda.pl/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
