<% content_for :title, "Opad estymowany" %>

<div class="container-fluid" align="center">
  <iframe src="http://awiacja.imgw.pl/mapa-burz-rad/opad_estym_C.html" width="1300" height="950" frameborder="0" scrolling="no"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: awiacja.imgw.pl", "http://awiacja.imgw.pl/mapa-burz-rad/opad_estym_C.html", class:"btn btn-sm btn-outline-primary" %></p>
</div>
