<% content_for :title, "VIS-IR - Střední Evropa (HRV)" %>

<div class="container-fluid" allign="center">
  <iframe src="https://msg.bourky.cz/" width="1350" height="1150" frameborder="0" scrolling="yes"></iframe>
  <hr>
  <p><%= link_to "Źródło danych: msg.bourky.cz/", "https://msg.bourky.cz/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
