<% content_for :title, "SatBałtyk" %>

<div class="container-fluid" align="center">
  <iframe src="http://gis.lmz-bw.de/wetter/" width="100%" frameborder="0" style="border:0;height:75vh;" allowfullscreen></iframe>
  <hr>
  <p><%= link_to "Źródło danych: gis.lmz-bw.de", "http://gis.lmz-bw.de/wetter/", class:"btn btn-sm btn-outline-primary" %></p>
</div>
