<% content_for :title, "Logowanie" %>
<div class="container-fluid" align="center">

  <h4>Logowanie</h4><hr>
  <div class="jumbotron">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form class="form-signin">
        <div class="form-group">
          <label>Użytkownik</label>
            <%= f.text_field :email, placeholder:"Adres e-mail", type:"text", required: true, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group">
          <label>Hasło</label>
            <%= f.text_field :password, placeholder:"Hasło", type:"password", required: true, class:"form-control" %>
        </div>        
        <%= f.submit "Zaloguj", class:"btn btn-block btn-outline-primary" %>
      </form>
    <% end %>
  </div>
</div>
