<% content_for :title, "Prognozy" %>

<div class="container">

  <h4>Lista prognoz pogody</h4><hr>

  <div class="table-responsive" align="center">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr align="center">
          <th>Data</th>
          <th>Akcje</th>
        </tr>
      </thead>

      <tbody>
        <% @days.each do |day| %>
          <tr align="center">
            <td><%= day %></td>
            <td><%= link_to 'Przejdź do dnia', daily_forecast_path(1, date: day), class:"btn btn-outline-primary btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p><%= will_paginate @days, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>

</div>
