<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to 'Synoptyk', pages_home_path, :title => "Strona Główna", class:"navbar-brand col-sm-3 col-md-2 mr-0" %>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to "v2.6.5 \u00A9 #{DateTime.now.strftime("%Y")}", pages_about_path, :title => "v2.6.5 z dnia 03.07.2018", class:"nav-link" %>
    </li>
  </ul>
</nav>
